/* (c) Copyright 2015 Purdue University - MIT License*/

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

#chatroom_container, #waiting_room, #preview_mode {
	margin:0 auto;
	width:1000px;
	font-family:verdana, sans-serif;
}
.banner-declaration {
	width:500px;
	background:white;
	position:absolute;
	left:300px;
	top:20px;
	font-size:20px;
}

.question {
	text-align: center;
}

.up {
	background-color: #fff;
}

.requirement, .instruction{
	margin:0 auto;
	width:700px;
}

#instr-reward-pic {
	width: 30px;
	height: 30px;
	margin-bottom: -10px;
}

.common_button {
	font-size:20px;
	padding:3px;
	cursor:pointer;
}

.small_button {
	font-size:18px;
	cursor:pointer;
}

.left {
	float:left;
	width:580px;
}

.right {
	float:right;
	width:400px;
}

.up, .left, .right {
	border:1px solid green;
	border-radius:6px;
}

.clear {
	clear:both;
}

.dialog_header {
	padding:8px;
	color:white;
	background-color: #9C0;
	font-weight:bold;
}

#messages_display ul, #candidates_container ul{margin:0;padding:0;}
#messages_display {
	position:relative;
	max-height:420px;
	overflow:hidden;
}

#candidates_container {
	position:relative;
	max-height:443px;
	overflow:hidden;
}

.message {
	padding:       0.2em;
    margin:        0.2em;
    font-size:     16px;
    list-style:    none;
}

.message span {
    padding:       0.2em;
    margin:        0.2em;
    max-width:     400px;
    border:        1px solid lightGray;
    border-radius: 0.2em;
    cursor:        pointer;
    display:       inline-block;
}

.message span:hover {
	background-color: lightGray;
}

.quest_mark {
	background:red !important;
	color: white !important;
}

.rejected {
	text-decoration:line-through;
}

.othermess {
	text-align:left;
}

.mymess {
	text-align:right;
}
.mymess span{
	background:#9ACD32;
	color:#fff;
}

.reqmess span {
	background-color: #87CEFA;
	color:#fff;
}

.pending {
    padding:       0.2em;
    margin:        0.2em;
    font-size:     16px;
    list-style:    none;
    border:        1px solid lightGray;
    border-radius: 0.2em;
    background:    #ffeaaa;
    position:      relative;
    cursor:        pointer;
}

li.pending:hover .prompt_content {opacity:1;}
.prompt_content {
	position:absolute;
	top:3px;
	left:180px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor:pointer;
	display: table;
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

.prompt {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.agreed {
	background:#0f0;
}

#message_input {
	width:565px;
	height:17px;
    padding: 0.2em;
    margin: 0.2em;
    border-color: #6cf;
    border-width: 2px;
    border-radius:2px;
    font-size:14px;
    font-family:verdana, sans-serif;
}

.head_img {
	display:inline-block;
}
.head_img img{
	width:18px;
	height: 18px;
}

.messagepop {
	font-family: arial;
	background-color: #fff;
	border: 1px gray solid;
	border-radius: 5px;
	position:relative;
	z-index: 50;
}

.messagepop a {
	text-decoration: none;
	padding: 2px 10px 2px 10px;
	border-right: 1px gray solid;
	border-top: 1px gray solid;
	border-bottom: 1px gray solid;
}

.messagepop a:last-child {
	border:0;
}

.messagepop a:visited {
	color: blue;
}

.messagepop a:hover {
	text-decoration: underline;
}

.reward_options {
	width:30px;
	background-color: #fff;
	border:1px solid gray;
}

.reward_button {
	cursor:pointer;
	padding:3px;
	border-bottom:1px solid gray;
}

.reward_button:hover {
	background-color: gray;
	color: #fff;
}
.qa_pair {
	border-bottom: 1px gray dashed;
	text-align:left;
}

.qa_pair:last-child {
	border:0;
}

.quest {
	background:#ffeaaa;
}

.ans {
	background:#FFFBF0;
}

.pop1 {
	display: none;
	width: 202px;
}

.pop2 {
	display: none;
	width: 354px;
}

/* for waiting room */
.wait_left {
	float:left;
	width:175px;
}

.wait_right {
	float:right;
	width:820px;
}

.wait_up, .wait_left, .wait_right {
	border:1px solid green;
	border-radius:6px;
}
.user img{
	width: 20px;
  	padding-top: 1px;
  	margin-left: 2px;
	
}
.wait_right{
	
	width:85%;
	
}
.wait_left{
	
	width:14%;
}

/* for checkout */
.main_form_div {
	text-align:center;
	display: block;
	margin-top:10px;
}

