<!DOCTYPE html>
<!-- (c) Copyright 2015 Purdue University - MIT License -->
<html>
<head>
	<meta charset="utf-8">
	<title>CrowdChat</title>
	
	<link rel="icon" type="image/x-icon"  href="https://rawgit.com/gaopinghuang0/warmup6/master/static/favicon.ico" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{ static_url('perfect-scrollbar.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('CrowdChat_UI.css') }}">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

	<script type="text/javascript" src="{{ static_url('rooms/chat_room.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('rooms/waiting_room.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('systems/reputation.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('systems/reward.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('users/requester.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('users/worker.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('perfect-scrollbar.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('main.js') }}"></script>
</head>

<body>

	<!-- banner for the main page -->
<div id="banner">
		<img id="logo" src="{{ static_url('logo.png') }}" alt="Logo">
		<img id="user-pic" src="{{ static_url('user-pic.png') }}" alt="User Profile Picture">
		<img id="exit-pic" src="{{ static_url('exit.png') }}" alt="Exit">

		<img id="reward-point-pic" src="{{ static_url('reward.png') }}" alt="Reward Picture">
		<p id="reward-point">0</p>
		
		<img id="reputation-score-pic" src="{{ static_url('reputation.png') }}" alt="Reputation Picture">
		<p id="reputation-score">0</p>
</div>

	<!-- MHW's code -->
<div id="waiting_room">
	<!-- For question and instruction -->
	<div class="wait_up">
		<div class="question"><h1>Worker waiting room</h1></div>
		<div class="instruction">
		<ol>
		<li>This is a worker waiting room</li>
		<li>Left column is existing workers waiting list</li>
		<li>Right column is existing task, workers can pick their favoriate task</li>
		</ol>
		</div>
	</div>
	
	<div class="wait_left">
		<div class="dialog_header"><h2>Worker list </h2></div>
		<div id="user_number_display"></div>
	</div>
	
	<div class="wait_right">
	<div class="dialog_header"><h2>Task list</h2></div>
	</div>
</div>
	
	<!-- hgp's code -->
<div id="chatroom_container" style="display:block;">
	<!-- For question and instruction -->
	<div class="up">
		<div class="question"><h1>Help me find my real need of a cellphone</h1></div>
		<div class="requirement"></div>
		<div class="instruction">
		<ol>
		<li>Chat in the ChatRoom (left) and ask inspiring questions</li>
		<li>Click on the reasonable chat messages to push them to Pending (right)</li>
		<li>Requester will handle the Pending messages 
		(<span style="color:orange">orange</span>:pending, <span style="color:#0f0">green</span>:agreed)</li>
		</ol>
		</div>
	</div>
	
	<div class="left">
		<div class="dialog_header"><h2>ChatRoom <span id="roommode">(worker)</span></h2></div>
		<!-- Container for messages -->
		<div id="messages_display"><ul></ul></div>
		<!-- Text input for new messages -->
		<textarea id="message_input" rows=1></textarea>
	</div>
	
	<div class="right">
		<div class="dialog_header"><h2>Q/A (answered: <span class="answered_count">0</span>
		 / <span class="total_count">0</span>)</h2></div>
		<!-- Container for candidate message to be rated by requester -->
		<div id="candidates_container">
		<ul></ul>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<!-- For copyright and feedback -->
	<div class="footer"></div>
 </div>

<!-- below is some hidden area for popup -->
	<div class="messagepop pop1">
		<a class="mark_question" href="#">Mark Question</a>
		<a class="cancel_pop close" href="#">Cancel</a>
	</div>
	<div class="messagepop pop2">
		<a class="answer_ques" href="#">Answer</a>
		<a class="give_reward" href="#">Reward</a>
		<a class="reject_mess" href="#">Reject</a>
		<a class="cancel_pop close" href="#">Cancel</a>
	</div>
	<div class="reward_options" style="display:none;">
		<div class="reward_button" id="add_p10">+10</div>
		<div class="reward_button" id="add_p30">+30</div>
		<div class="reward_button" id="add_p50">+50</div>
	</div>
	<div id="dialog_confirm"></div>

<!-- Hidden infos that will be sent to AMT -->
	<form id="main_form">
		<input type="hidden" name="assignmentId" value="{{ infos['assign_id']}}">
		<input type="hidden" name="workerId" value="{{ infos['worker_id']}}">
		<input type="hidden" name="reqid" value="{{ records[0]['requester_id']}}">
		<input type="hidden" name="task_id" value="{{ records[0]['task_id']}}">
		<input type="hidden" name="uniquecode" value="{{ records[0]['unique_code']}}">
	</form>
	
<!-- Hidden infos that will not be sent to AMT -->
	<div class="hidden_infos">
		<input type="hidden" name="hitId" value="{{infos['hit_id']}}">	
		<input type="hidden" name="turkSubmitTo" value="{{infos['turkSubmitTo']}}">	
	</div>
</body>
</html>
<!-- vim: set fileencoding=utf-8 tabstop=2 shiftwidth=2 expandtab: -->
