<!DOCTYPE html>
<!-- (c) Copyright 2015 Purdue University - MIT License -->
<html>
<head>
	<meta charset="utf-8">
	<title>CrowdChat</title>
	
	<link rel="icon" type="image/x-icon"  href="https://rawgit.com/gaopinghuang0/warmup6/master/static/favicon.ico" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="./static/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="./static/main.css">
	<link rel="stylesheet" type="text/css" href="./static/CrowdChat_UI.css">
  

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>


	<script type="text/javascript" src="./static/perfect-scrollbar.js"></script>
	<script type="text/javascript" src="./static/main.js"></script>
	<script type="text/javascirpt" src="./static/post.js"></script>
	
</head>

<body>

	<!-- banner for the main page -->
<div id="banner">
		<img id="logo" src="./static/logo.png" alt="Logo">
		<img id="user-pic" src="./static/user-pic.png" alt="User Profile Picture">
		<img id="exit-pic" src="./static/exit.png" alt="Exit">
    <div class="banner-declaration">
    Please chat with requester and help them solve the problems they have. This HIT is part of a class project at Purdue University by Gaoping Huang, Meng-Han Wu, Jun Xiang Tee.  Feel free to email us at wu784@purdue.edu with any questions or concerns.  In case you run into any bugs, we will make sure you are paid. 
    </div>
    <div id="banner-block" style="display:none">
    		<img id="reward-point-pic" src="./static/reward.png" alt="Reward Picture">
	    	<p id="reward-point">0</p>
		
	  	  <img id="reputation-score-pic" src="./static/reputation.png" alt="Reputation Picture">
	  	  <p id="reputation-score">0</p>
     </div>
</div>


	<!-- MHW's code -->
<div id="waiting_room">
	<!-- For question and instruction -->
	<div class="wait_up">
		<div class="question"><h1>Worker waiting room</h1></div>
		<div class="instruction">
		<ol>
		<li>This is a worker waiting room.</li>
		<li>Left column is a list of workers who are waiting in the room.</li>
		<li>Right column is a list of available tasks that you can choose to start with.</li>
    <li>You can click "enter" button to enter a chat room</li>
    <li>Once you complete a chat, please click "Checkout".</li>
		</ol>
		</div>
	</div>
	
	<div class="wait_left">
		<div class="dialog_header"><h2>Worker list </h2></div>
		<div id="user_number_display"></div>
	</div>
	
	<div class="wait_right">
	<div class="dialog_header"><h2>Task list</h2></div>
	<div id="task_number_display"></div>
	</div>

  <div class="clear"></div>
</div>
	
	<!-- hgp's code -->
<div id="chatroom_container" style="display:none;">
	<!-- For question and instruction -->
	<div class="up">
		<div class="question"><h1>Help me find real <span id="task_text"></span></h1></div>
		<div class="requirement"></div>
		<div class="instruction">
		<ol>
		<li>Chat in the ChatRoom (left) and ask inspiring questions</li>
		<li>Worker can mark any message as question if you think it needs requester to answer it.</li>
		<li>Once requester answered one question, the question-answer pair will be copied to the right column. 
    <li>Requester can reject any improper messages or give reward point to any good message.</li>
    <li>Worker's total reward point is shown on the top-right(<img id="instr-reward-pic" src="./static/reward.png" alt="Reward Picture">). Every 10 reward point equal to $0.01.</li>
		</li>
		</ol>
		</div>
		<input type="button" title="Go back to waiting room" value="&#8656 Go back" class="common_button" id="go_back_button">
	</div>
	
	<div class="left">
		<div class="dialog_header"><h2>ChatRoom <span id="roommode">(worker)</span></h2></div>
		<!-- Container for messages -->
		<div id="messages_display"><ul></ul></div>
		<!-- Text input for new messages -->
		<textarea id="message_input" rows=1></textarea>
	</div>
	
	<div class="right">
		<div class="dialog_header"><h2>Q/A (answered: <span class="answered_count">0</span>
		 / <span class="total_count">0</span>)</h2></div>
		<!-- Container for candidate message to be rated by requester -->
		<div id="candidates_container">
		<ul></ul>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<!-- For copyright and feedback -->
	<div class="footer"></div>
 </div>

<!-- below is some hidden area for popup -->
	<div class="messagepop pop1">
		<a class="mark_question" href="#">Mark Question</a>
		<a class="cancel_pop close" href="#">Cancel</a>
	</div>
	<div class="messagepop pop2">
		<a class="answer_ques" href="#">Answer</a>
		<a class="give_reward" href="#">Reward</a>
		<a class="reject_mess" href="#">Reject</a>
		<a class="cancel_pop close" href="#">Cancel</a>
	</div>
	<div class="reward_options" style="display:none;">
		<div class="reward_button" id="add_p10">+10</div>
		<div class="reward_button" id="add_p30">+30</div>
		<div class="reward_button" id="add_p50">+50</div>
	</div>
	<div id="dialog_confirm"></div>

<!-- Hidden infos that will be sent to AMT -->
<div class="main_form_div">
	<form id="main_form" method="POST">
		<input type="hidden" name="assignmentId" value="{{ infos['assign_id']}}">
		<input type="hidden" name="workerId" value="{{ infos['worker_id']}}">
		<input type="hidden" name="task_id">
		<input type="hidden" name="uniquecode">
    <input type="submit" title="Finish work and submit HIT" class="common_button" name="checkout" value="Check out">
	</form>
</div>


<!-- Hidden infos that will not be sent to AMT -->
	<div class="hidden_infos">
		<input type="hidden" name="hitId" value="{{infos['hit_id']}}">	
		<input type="hidden" name="turkSubmitTo" value="{{infos['turkSubmitTo']}}">	
		<input type="hidden" name="reqid">
	</div>
</body>
</html>
<!-- vim: set fileencoding=utf-8 tabstop=2 shiftwidth=2 expandtab: -->
